
<div class="left">
    <h2>file info</h2>
</div>
<div class="content">
    <div class="info">
        {{#with plInfoID}}
        <div class="row">
            <h2>id:</h2>
            <h2 class="h2">{{id}}</h2>
        </div>
        <div class="row">
            <h2>name:</h2>
            <h2 class="h2">{{name}}</h2>
        </div>
        <div class="row">
            <h2>path:</h2>
            <h2 class="h2">{{path}}</h2>
        </div>
        <div class="row">
            <h2>size:</h2>
            <h2 class="h2">{{size}}</h2>
        </div>
        <div class="row">
            <h2>type: </h2>
            <h2 class="h2">{{type}}</h2>
        </div>
        <div class="row">
            <h2>save date:</h2>
            <h2 class="h2">{{saveDate}}</h2>
            {{/with}}
        </div>
    </div>
</div>