<form class="infoPlik" method="post">
    <div>{{id}}</div>
    <div><img src={{ikonka}} alt="ikonka" /></div>
    <div>{{name}}</div>
    <div>{{size}}</div>
    <div>{{type}}</div>
    <div><a href="/delete/?id={{id}}">USUŃ</a></div>
    <div><a href="/info/?id={{id}}">INFO</a></div>
    <div><a href="/download/?id={{id}}">POBIERZ</a></div>
</form>